<div class="container">
  <div class="row">
    <div class="col align-self-center">
      <%= form_for @task do |f| %>

      <div class="field">
        <%= f.label :task_name %><br/>
        <%= f.text_field :task_name, autofocus: true, autocomplete: "Task Name" %>
      </div>

      <div class="field">
        <%= f.label :descritpion %><br/>
        <%= f.text_area :description, autofocus: true, autocomplete: "Description" %>
      </div>

      <div class="field">
        <%= f.label :due_date %><br/>
        <%= f.date_select :due_date, autofocus: true, autocomplete: "Due date" %>
      </div>

      <div class="field">
        <%= f.button :submit %>
      </div>

    <% end %>
  </div>
</div>
</div>