<!DOCTYPE html>
<html>
  <head>
    <title>TaskTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <%= link_to 'TaskTracker', root_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse w-100 order-3" id="navbarText">
          <% if user_signed_in? && current_user.admin? %>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <%= link_to 'Create Task', new_task_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Edit Account', edit_user_registration_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class:"nav-link" %>
              </li>
            </ul>
            <% elsif user_signed_in? && !current_user.admin? %>
              <ul class="navbar-nav">
                <li class="nav-item">
                  <%= link_to 'Edit Account', edit_user_registration_path, class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link_to 'Log Out', destroy_user_session_path, method: :delete, class: "nav-link" %>
                </li>
              </ul>
            <% else %>
              <span class="navbar-text">
                <%= link_to 'Sign In', new_user_session_path, class: "btn btn-primary" %>
                <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-primary" %>
              </span>
            <% end %>
          </div>
        </nav>
      </div>
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% end %>

      <% if alert %>
        <p class="alert"><%= alert %></p>
      <% end %>
      <%= yield %>
    </body>

    <footer class="container-fluid text-center bg-lightgray">

      <div class="copyrights" style="margin-top:25px;">
        <p>TaskTracker © 2018, All Rights Reserved
          <br>
          <span>Web Design By: Odell Purifoy</span></p>
        <p>
          <a href="https://www.linkedin.com/in/michael-clark-webdeveloper" target="_blank">Linkedin
            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          </a>
        </p>
      </div>
    </footer>
  </html>